<div class="card">
  <div class="card-body">
    <h3 class="card-title">Formação acadêmica</h3>
    <div class="row mirante">
      <img src="assets/unip.jpg" class="col-md-6 img7Comm" />
      <h6 class="col-md-8">
        Universidade Paulista<br />
        <p class="exp">
          Curso Superior de Tecnologia (CST),Analise e desenvolvimento de
          sistemas <br />
          2021 - 2022<br />
        </p>
      </h6>
    </div>
    <hr />
    <div class="row mirante">
      <img src="assets/objetivo.jpg" class="col-md-6 img7Comm" />
      <h6 class="col-md-8">
        Colégio Objetivo <br />
        <p class="exp">Fundamental,Medio Concluido <br /></p>
      </h6>
    </div>
  </div>
</div>
