<div class="card">
  <div class="card-body">
    <h3 class="card-title">Sobre</h3>
    <h6 class="card-text">
      <p>
        Possuo conhecimentos adquiridos em 1 ano de estudos/projetos na área de
        tecnologia em desenvolvimento de aplicações web Java/Angular. Durante
        esse tempo participei da criação e manutenção de sistemas em
        Java\angular; Tenho facilidade em aprender novas tecnologias, sempre me
        dedicando à minha formação profissional, buscando especialização nas
        tendências impostas pelo mercado. Estou constantemente procurando
        crescimento técnico/profissional através de cursos, seminários e
        certificações. Tenho facilidade para trabalhar em equipe, sempre atento
        a valores de disciplina e companheirismo.
      </p>
      <p>
        Tenho 5 meses na mirante como estagiário fullstack Java/Angular<br />
        Atualmente tenho 1 mes na 7coMm como Desenvolvedor fullstack junior
        Java/Angular cliente Bradesco<br />
      </p>

      <p>
        .Programação Avançado Java – 50hs<br />
        .Hibernate / JPA / Angular – 150hs<br />
        .Banco de dados Mysql -40hs<br />
        .Html5, Css3 e Js – 40hs<br />
        .Java orientado objetos-40 hs<br />
        .Algoritmos-40hs<br />
        .Git e Git hub-40hs<br />
        .JavaScript-40hs<br />
        .angular-40hrs<br />
      </p>
      <p>
        WPP:61992055814<br />
        Insta:<a href="https://www.instagram.com/carlos.jrs/" target="_blank"
          >carlos.jrs</a
        ><br />
        E-mail:carlosjrs06.cj@gmail.com<br />
        Git:<a href="https://github.com/carlosjrs006" target="_blank"
          >carlosjrs006</a
        ><br />
      </p>
    </h6>
  </div>
</div>
