.card{
  width: 50rem;
  height: 35rem;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px
}

.card-title{
  margin-top: 15px;
}

h5{
  font-size: 10px bold;
}
