<div class="card teste">
  <div class="card-body">
    <h3 class="card-title">Certificado</h3>
    <!--       CArrosel         -->

    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="false"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!--           Card             -->
          <div class="d-flex">
            <div class="card cardObj">
              <img
                src="assets/0001.jpg"
                class="card-img-top d-block w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ tituloFilho }}</h5>
                <hr />
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  Abrir
                </button>
              </div>
            </div>

            <div class="card cardObj">
              <img
                src="assets/0002.jpg"
                class="card-img-top d-block w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ tituloCurso2 }}</h5>
                <hr />
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal2"
                >
                  Abrir
                </button>
                <app-modal-certificado></app-modal-certificado>
              </div>
            </div>

            <div class="card cardObj">
              <img
                src="assets/0003.jpg"
                class="card-img-top d-block w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ tituloCurso3 }}</h5>
                <hr />
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal3"
                >
                  Abrir
                </button>
                <app-modal-certificado></app-modal-certificado>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <!--           Card             -->
          <div class="d-flex">
            <div class="card cardObj">
              <img
                src="assets/0004.jpg"
                class="card-img-top d-block w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ tituloCurso4 }}</h5>
                <hr />
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal4"
                >
                  Abrir
                </button>
                <app-modal-certificado></app-modal-certificado>
              </div>
            </div>

            <div class="card cardObj">
              <img
                src="assets/udemy.jpg"
                class="card-img-top d-block w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ tituloCurso5 }}</h5>
                <hr />
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal5"
                >
                  Abrir
                </button>
                <app-modal-certificado></app-modal-certificado>
              </div>
            </div>

            <div class="card cardObj">
              <img
                src="assets/scrum.jpg"
                class="card-img-top d-block w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ tituloCurso6 }}</h5>
                <hr />
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal6"
                >
                  Abrir
                </button>
                <app-modal-certificado></app-modal-certificado>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
