.teste{
  width: 50rem;
  height: 40rem;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px
}


img{
  width: 15rem;
  height: 12rem;
}

.cardObj{
  width: 18rem;
  height: 330px;
  margin-top:80px;
  margin-left:10px;
}
.carousel-control-next-icon{
  background-color: black;
  border-radius: 25px;
  width: 30px;
  height: 35px;
  margin-left:102px
}

.carousel-control-prev-icon{
  background-color: black;
  border-radius: 25px;
  width: 30px;
  height: 35px;
  margin-right:102px
}

.btn{
  margin-left: 70px;
}
.card-title{
  font-size: 17px;
}
