<nav class="navBarInfo">
  <img src="assets\imgPreta.png" class="imgPretaNavBar">
  <div class="itens">
    <h2 class="navBarLabel" routerLink="/curriculo">Curriculo</h2>
    <h2 class="navBarLabel">Home</h2>
    <h2 class="navBarLabel">Serviços</h2>
    <h2 class="navBarLabel">Portfolio</h2>
    <h2 class="navBarLabel">Avaliação/Contato</h2>
    <a href="https://www.linkedin.com/in/matheus-crepaldi-desenvolvedor/" target="_blank" class="navBarIn">
      <i class="bi bi-linkedin"></i>
    </a>
  </div>
</nav>
