.imgPretaNavBar {
  margin-top: -62px;
  position: fixed;
  margin-left: -900px;
  width: 1500px;
  height: 15vh;
  opacity: 0.8;
}

.icons {
  margin-top: -5px;
}

.navBarInfo {
  position: fixed;
  display: flex;
  margin-left: 60%;
  color: #00b8e4;
  text-align: center;
  top: 53px;
  width: 250px;
  line-height: 30px;
  height: 30px;
}

.navBarLabel {
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
}

.infoLabel {
  color: #00b8e4;
  font-size: 25px;
  font-weight: 500;
}

.navBarIn {
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: -5px;
}

.itens {
  display: flex;
  position: relative;
  margin-left: -40px;
}

.navBarCurriculo {
  margin-left: -800px;
}

.navBarPor {
  margin-left: -800px;
}
