<div class="card">
  <div class="card-body">
    <h3 class="card-title">Experiência</h3>
    <div class="row mirante">
      <img src="assets/7Comm.jpg" class="col-md-6 img7Comm" />
      <h6 class="col-md-8">
        Desenvolvimento Fullstack Junior<br />
        <p class="exp">
          7COMm-People and tech to transform·Tempo integral<br />
          março de 2022 - o momento · 1 mes<br />
          São Paulo, Brasil
        </p>
        <p>
          Projeto - Bradesco financiamentos<br />
          BackEnd - Java / Spring<br />
          FrontEnd- Angular <br />
        </p>
      </h6>
    </div>
    <hr />

    <div class="row mirante">
      <img src="assets/mirante.jpg" class="col-md-6 imgMirante" />
      <h6 class="col-6">
        Estagiário de desenvolvimento fullstack <br />
        <p class="exp">
          Mirante Tecnologia · Estágio<br />
          out de 2021 - março de 2022 · 6 meses<br />
          Brasília, Distrito Federal, Brasil
        </p>
        <p>
          -Construção de aplicativos web<br />
          -Implementação e modelagem de objetos em Java<br />
          -Pesquisa e utilização de frameworks específicos da linguagem Java<br />
          -cliente ITI(instituto nacional de tecnologia da informação )<br />
          -linguagens e frameworks:<br />
          .angular 12<br />
          .Java spring<br />
          .banco postgreSQL usando dbeaver<br />
        </p>

        <p></p>
      </h6>
    </div>
  </div>
</div>
