<div style="background-color: black;">
  <div class="contatoAvaliacao">
    <div class="labelTituloAvaliacao">
      <h1>Avaliação</h1>
    </div>
    <h1 class="infoLabelBlue infoLabelBlueAvaliacao ">Deixe uma avaliação, sugestão ou critica :)</h1>
    <div class="inputAvaliacao">
      <label for="fname" class="label">*Nome:</label>
      <input type="text" id="fname" name="fname">
      <label class="labelInputNome" class="label" for="fname">*Mensagem:</label>
      <input type="text" id="fname" name="fname">
      <label class="labelInputNome" class="label" for="fname">Avaliação:</label>
      <div class="label">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <div class="estrelas">
          <input type="radio" id="cm_star-empty" name="fb" value="" checked />
          <label for="cm_star-1"><i class="fa"></i></label>
          <input type="radio" id="cm_star-1" name="fb" value="1" />
          <label for="cm_star-2"><i class="fa"></i></label>
          <input type="radio" id="cm_star-2" name="fb" value="2" />
          <label for="cm_star-3"><i class="fa"></i></label>
          <input type="radio" id="cm_star-3" name="fb" value="3" />
          <label for="cm_star-4"><i class="fa"></i></label>
          <input type="radio" id="cm_star-4" name="fb" value="4" />
          <label for="cm_star-5"><i class="fa"></i></label>
          <input type="radio" id="cm_star-5" name="fb" value="5" />
        </div>
        <button type="button" class="btn btn-primary btnEnviar">Enviar</button>
      </div>
      <div class="contato">
        <div class="labelTitulo">
          <h1>Contato</h1>
        </div>
        <div class="InformacoesIniciais">
          <h1 class="infoLabel infoLabelConversa">Se você quiser conversar, entre em contato, estou quase sempre online
            :)</h1>
          <h1 class="infoLabel">Envie uma mensagem</h1>
          <h1 class="infoLabel">WhatsApp: <a class="whatsapp-link"
              href="https://web.whatsapp.com/send?phone=5561986565343" target="_blank">
              <i class="fa fa-whatsapp"></i></a></h1>
          <h1 class="infoLabel">matheussadejesus123@gmail.com</h1>
        </div>
      </div>
    </div><br>

  </div>
