<div class="imagem">
  <img src="assets\imgFundoPortifolio.jpg" class="imgFundoPortifolio">
  <img src="assets\imgPreta.png" class="imgFundoPortifolio imgPreta">
  <span class="labelTitulo">Serviços</span>
  <div class="portfolio">
    <div class="cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\ImgPortfolio.jpg">
        <div class="card-body">
          <p class="card-text">Sistema feito para fazer Crud.</p>
          <p class="card-text">ANGULAR / NODE.JS / SPRING BOOT.</p>
        </div>
      </div>
      <div class="card card1" style="width: 18rem;">
        <img class="card-img-top" src="assets\ImgPortfolio.jpg">
        <div class="card-body">
          <p class="card-text">Sistema feito para fazer Crud.</p>
          <p class="card-text">ANGULAR / NODE.JS / SPRING BOOT.</p>
        </div>
      </div>
      <div class="card card2" style="width: 18rem;">
        <img class="card-img-top" src="assets\ImgPortfolio.jpg">
        <div class="card-body">
          <p class="card-text">Sistema feito para fazer Crud.</p>
          <p class="card-text">ANGULAR / NODE.JS / SPRING BOOT.</p>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\ImgPortfolio.jpg">
        <div class="card-body">
          <p class="card-text">Sistema feito para fazer Crud.</p>
          <p class="card-text">ANGULAR / NODE.JS / SPRING BOOT.</p>
        </div>
      </div>
      <div class="card card1" style="width: 18rem;">
        <img class="card-img-top" src="assets\ImgPortfolio.jpg">
        <div class="card-body">
          <p class="card-text">Sistema feito para fazer Crud.</p>
          <p class="card-text">ANGULAR / NODE.JS / SPRING BOOT.</p>
        </div>
      </div>
      <div class="card card2" style="width: 18rem;">
        <img class="card-img-top" src="assets\ImgPortfolio.jpg">
        <div class="card-body">
          <p class="card-text">Sistema feito para fazer Crud.</p>
          <p class="card-text">ANGULAR / NODE.JS / SPRING BOOT.</p>
        </div>
      </div>
    </div>
  </div>
</div>
