<div>
  <div class="imagem">
    <img src="assets\imgFundoPortifolio.jpg" class="imgFundoPortifolio">
    <img src="assets\imgPreta.png" class="imgFundoPortifolio imgPreta">
    <span class="labelTitulo">Serviços</span>
    <div class="portfolio" style="background-color: black;">
      <div class="cards">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets\caixa.png">
          <div class="card-body">
            <p class="card-text">Credito Consignato.</p>
            <p class="card-text">ANGULAR / QUARKUS / NGRX / SCRUM...</p>
          </div>
        </div>
        <div class="card card1" style="width: 18rem;">
          <img class="card-img-top" src="assets\sicoob.jpg">
          <div class="card-body">
            <p class="card-text">Sistema Para Colaboradores.</p>
            <p class="card-text">ANGULAR / EJB / NGRX / SCRUM / SQL SERVER / DB2...</p>
          </div>
        </div>
        <div class="card card2" style="width: 18rem;">
          <img class="card-img-top" src="assets\bradescoo.png">
          <div class="card-body">
            <p class="card-text">Financiamento.</p>
            <p class="card-text">ANGULAR / NODE.JS / SCRUM...</p>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets\maxima.png">
          <div class="card-body">
            <p class="card-text">Logistica</p>
            <p class="card-text">ANGULAR / SPRING BOOT / JPA-HIBERNATE / POSTGRESQL...</p>
          </div>
        </div>
        <div class="card card1" style="width: 18rem;">
          <img class="card-img-top" src="assets\portfolio.png">
          <div class="card-body">
            <p class="card-text">Portfolio/Curriculo (Pessoal)</p>
            <p class="card-text">ANGULAR / NODE.JS / SCRUM / POSTGRESQL...</p>
          </div>
        </div>
        <div class="card card2" style="width: 18rem;">
          <img class="card-img-top" src="assets\bar.jpg">
          <div class="card-body">
            <p class="card-text">Bar e Tabacaria (Pessoal).</p>
            <p class="card-text">ANGULAR / SPRING BOOT / JPA-HIBERNATE / POSTGRESQL...</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
