<div class="servicos">
  <div class="labelTitulo">
    <h1>Serviços</h1>
  </div>
  <div class="cards">
    <div class="card-body card-body1 ">
      <i class="bi bi-code code1"></i>
      <h5 class="card-title card-title1">Desenvolvedor WEB</h5>
      <h6 class="card-subtitle mb-2 text-muted">Desenvolvedor de Sites Angular, Node.js, Spring Boot.</h6>
    </div>
    <div class="card-body card-body2 ">
      <i class="bi bi-code code1"></i>
      <h5 class="card-title card-title1">Inovação</h5>
      <h6 class="card-subtitle mb-2 text-muted">Experiência com sistemas novos no mercado, Desenvolvimento Rápido e
        Criativo.</h6>
    </div>
    <div class="card-body card-body3 ">
      <i class="bi bi-code code1"></i>
      <h5 class="card-title card-title1">Desenvolvedor Front-End</h5>
      <h6 class="card-subtitle mb-2 text-muted">Experiência em HTML5, TypeScript, CSS, Bootstrap, Material...</h6>
    </div>
  </div>
  <div class="black1">
    <h1>Portfolio</h1>
  </div>
</div>
